# Ignore Python files – handled by Ruff/Black
*.py
*.pyi

# Ignore Home Assistant compiled files
__pycache__/
*.pyc

# Ignore virtual environments or dependencies
.venv/
env/
venv/

# Docs/build outputs
docs/_build/
build/
dist/

# Only skip truly generated YAML
**/__generated__/*.yaml
